@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    --primary: #FDB827;
    --secondary: #FF800B;
    --dark: #233506;  
    --light: #fff;
    --bg: #FFF9F2;
    --dark_blue: #02283F;

    /* Sizes */
    --container_width: 1202px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark);
}

li {
    list-style: none;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fff;
    color: var(--dark);
    font-size: 18px;
} 

.content  {
    max-width: var(--container_width);
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 46px 0;
}

.header__actions .button:not(:last-child){
    margin-right: 12px;
}

.menu {
    display: flex;
}

.menu_link {
    color: var(--dark);
}

.menu_item {
    line-height: 21px;
}
.menu_item:not(:last-child) {
    margin-right: 46px;
}

.first-screen {
    position: relative;
    min-height: 100vh;
    border-color: var(--bg);
    display: flex;
}

.first-screen__bg-segment {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 33%;
    z-index: -1;
    background-color: var(--primary);
}
.first-screen__bg-segment img {
    position: absolute;
    top: 4%;
    right: 0;
    width: 260%;
}
.first-screen .content {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 36px;
    font-weight: 600;
}
.logo span {
    color: var(--secondary);
}

.header__actions {
    display: flex;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 16px 22px;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 50px;
    font-size: 18px;
    line-height: 18px;
}
.button_light {
    background-color: var(--light);
    color: var(--secondary);
}
.button_with-icon i {
    font-size: 1.2em;
    margin-left: 18px;
}
.button_icon-square {
    padding: 0;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.first-screen__title {
    font-size: 84px;
    line-height: 100px;
}
.first-screen__title span {
    color: var(--primary);
}
.first-screen__content {
    max-width: 540px;
    margin: auto 0;
}
.first-screen__description {
    line-height: 1.7em;
    max-width: 460px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.button_xl {
    padding: 22px 40px;
}

.products {
    padding: 120px 0;
}

.title {
    font-size: 70px;
    line-height: 82px;
    font-weight: 600;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
    margin-top: 50px;
}
.products__cards .card {
    margin: 21px 14px;
}

.card {
    --size: 270px;
    width: var(--size);
    color: var(--dark_blue);
}
.card__img {
    width: var(--size);
    height: calc(var(--size) * 0.66);
    border-radius: 10px;
    overflow: hidden;
    background: center / 100% auto;
}
.card__head,
.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.card__head {
    font-weight: 500;
}
.card__footer {
    margin-top: 28px;
}
.card__title {
    font-size: 20px;
    padding-right: 8px;
    font-size: 20px;
    line-height: 23px;
}
.card__price {
    font-size: 18px;
    line-height: 21px;
}
.card__gram {
    font-size: 12px;
    line-height: 14px;
}
.card__button {
    padding: 10px 36px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark_blue);
}