@font-face {
  font-family: 'fruit-icon-font';
  src:  url('fonts/fruit-icon-font.eot?esw1re');
  src:  url('fonts/fruit-icon-font.eot?esw1re#iefix') format('embedded-opentype'),
    url('fonts/fruit-icon-font.ttf?esw1re') format('truetype'),
    url('fonts/fruit-icon-font.woff?esw1re') format('woff'),
    url('fonts/fruit-icon-font.svg?esw1re#fruit-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fruit-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-shopping-solid:before {
  content: "\e902";
}
.icon-tviter:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-credit-card:before {
  content: "\e903";
}
.icon-fesbook:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-shipped:before {
  content: "\e907";
}
.icon-slide_arrow_left:before {
  content: "\e908";
}
.icon-slide_arrow_right:before {
  content: "\e909";
}
.icon-smartphone:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
